.maths {
	font-family: maths;
	font-size: 120%;
}

.boxed {
	display: inline-block;
	border: 0.2em solid;
	padding: 1em;
}

.identifier {
	font-style: italic;
}

.func {
	font-style: normal;
}

sub,
sup {
	line-height: 0;
}

*:has(sub) > sup {
	position: absolute;
	/*color: #0f0;*/
}
/*
*:has(sup) > sub {
	color: #f00;
}
*/
.neg-thin-space {
	display: inline-block;
	margin-right: -0.167em;
}
.thin-space {
	display: inline-block;
	width: 0.167em;
}
.medium-space {
	display: inline-block;
	width: 0.222em;
}
.thick-space {
	display: inline-block;
	width: 0.278em;
}

.big {
	display: inline-block;
	position: relative;
	padding: 0.4em;
	&:before {
		content: attr(bigchar);
		position: absolute;
		top:0.55em;
		transform-origin: top center;
		transform: scale(1, var(--scaley, 1))
	}
	& > sup {
		position: absolute;
		font-size: 60%;
	}
	& > sub {
		position: absolute;
		font-size: 60%;
		bottom: 0;
	}
	& > span {
		display: inline-block;
		padding-left: 1em; /* Adjust this value as needed */
	}
}

.frac {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	text-align: center;

	& > *:first-child {
		display: block;
		font: inherit;
		padding: 0 0.3em;
		border-bottom: 0.08em solid;
	}
	& > *:last-child {
		display: block;
		font: inherit;
		padding: 0 0.3em;
	}
}

.sqrt {
	display: inline-block;
	position: relative;

	&:before {
/*
		content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 50" preserveAspectRatio="none"><path d="M2,48 L18,2" stroke="black" stroke-width="2" fill="none" /><path d="M0,40 L2,48" stroke="black" stroke-width="2" fill="none" /></svg>');
*/
		content: '\221A';
		/*left: -.4em;
		top: 0;
		width: 10px;
		height: 100%;
		*/
		padding-right: 0.2em;
		position: absolute;
		transform-origin: top center;
		transform: scale(1, var(--scaley, 1))
	}
	&:after {
		content: '';
		position: absolute;
		left: 0.7em;
		top: 0.052em;
		border-top: 0.08em solid;
		width: calc(100% - 0.6em);
	}
	.maths &:after {
		content: '';
		position: absolute;
		left: 0.6em;
		top: -0.1em;
		border-top: 0.08em solid;
		width: calc(100% - 0.5em);
	}
	& > root {
		position: absolute;
		font-size: 50%;
		padding-left: 0.2em; /* Adjust this value as needed */
	}
	& > * {
		display: inline-block;
		padding-left: 1em; /* Adjust this value as needed */
	}
}
